<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Modérateur{% endblock %}</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    {% block stylesheets %}
    <!-- base:css -->
    <link rel="stylesheet" href="{{asset("assets/vendors/mdi/css/materialdesignicons.min.css")}}">
    <link rel="stylesheet" href="{{asset("assets/vendors/feather/feather.css")}}">
    <link rel="stylesheet" href="{{asset("assets/vendors/base/vendor.bundle.base.css")}}">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link rel="stylesheet" href="{{asset("assets/vendors/flag-icon-css/css/flag-icon.min.css")}}"/>
    <link rel="stylesheet" href="{{asset("assets/vendors/font-awesome/css/font-awesome.min.css")}}">
    <link rel="stylesheet" href="{{asset("assets/vendors/jquery-bar-rating/fontawesome-stars-o.css")}}">
    <link rel="stylesheet" href="{{asset("assets/vendors/jquery-bar-rating/fontawesome-stars.css")}}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{asset("assets/css/style.css")}}">
    <!-- endinject -->
    <link rel="shortcut icon" href="{{asset("assets/images/favicon.png")}}" />
    {% endblock %}

    {% block javascripts %}
    <script src="{{asset("assets/vendors/base/vendor.bundle.base.js")}}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="assets/js/off-canvas.js"></script>
    <script src="assets/js/hoverable-collapse.js"></script>
    <script src="assets/js/template.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="{{asset("assets/vendors/chart.js/Chart.min.js")}}"></script>
    <script src="{{asset("assets/vendors/jquery-bar-rating/jquery.barrating.min.js")}}"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src={{asset("js/dashboard.js")}}"></script>
            <!-- End custom js for this page-->
        {% endblock %}
    </head>
    <body>

    {% block header %}
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
    <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="#"><img src="{{ asset("assets/images/logo.png")}}" alt=""></a>
        <a class="navbar-brand brand-logo-mini" href="#"><img src="{{ asset("assets/images/favicon.png")}}" alt=""></a>
    </div>
    <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="icon-menu"></span>
        </button>
        <ul class="navbar-nav mr-lg-2">
            <li class="nav-item nav-search d-none d-lg-block">
                <div class="input-group">
                    <div class="input-group-prepend">
                <span class="input-group-text" id="search">
                  <i class="icon-search"></i>
                </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Search Projects.." aria-label="search" aria-describedby="search">
                </div>
            </li>
        </ul>
        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown d-lg-flex d-none">
                <button type="button" class="btn btn-info font-weight-bold">+ Create New</button>
            </li>
            <li class="nav-item dropdown d-flex">
                <a class="nav-link count-indicator dropdown-toggle d-flex justify-content-center align-items-center" id="messageDropdown" href="#" data-toggle="dropdown">
                    <i class="icon-air-play mx-0"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="messageDropdown">
                    <p class="mb-0 font-weight-normal float-left dropdown-header">Messages</p>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <img src="assets/images/faces/face4.jpg" alt="image" class="profile-pic">
                        </div>
                        <div class="preview-item-content flex-grow">
                            <h6 class="preview-subject ellipsis font-weight-normal">David Grey
                            </h6>
                            <p class="font-weight-light small-text text-muted mb-0">
                                The meeting is cancelled
                            </p>
                        </div>
                    </a>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <img src="assets/images/faces/face2.jpg" alt="image" class="profile-pic">
                        </div>
                        <div class="preview-item-content flex-grow">
                            <h6 class="preview-subject ellipsis font-weight-normal">Tim Cook
                            </h6>
                            <p class="font-weight-light small-text text-muted mb-0">
                                New product launch
                            </p>
                        </div>
                    </a>
                    <a class="dropdown-item preview-item">
                        <div class="preview-thumbnail">
                            <img src="assets/images/faces/face3.jpg" alt="image" class="profile-pic">
                        </div>
                        <div class="preview-item-content flex-grow">
                            <h6 class="preview-subject ellipsis font-weight-normal"> Johnson
                            </h6>
                            <p class="font-weight-light small-text text-muted mb-0">
                                Upcoming board meeting
                            </p>
                        </div>
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown d-flex mr-4 ">
                <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
                    <i class="icon-cog"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                    <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
                    <a class="dropdown-item preview-item">
                        <i class="icon-head"></i> Profile
                    </a>
                    <a class="dropdown-item preview-item">
                        <i class="icon-inbox"></i> Logout
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown mr-4 d-lg-flex d-none">
                <a class="nav-link count-indicatord-flex align-item s-center justify-content-center" href="#">
                    <i class="icon-grid"></i>
                </a>
            </li>
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas" control-id="ControlID-1">
            <span class="icon-menu"></span>
        </button>
    </div>
    </nav>
    {% endblock %}


    {% block sidebar %}
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar position-fixed" style="margin-top: 28px;">
                <nav class="sidebar sidebar-offcanvas" id="sidebar">
                    <div class="user-profile">
                        <div class="user-image">
                            <img src="{{ asset('assets/images/avatar-yas.jpg') }}">
                        </div>
                        <div class="user-name">
                            Ahmadou Yassine S.
                        </div>
                        <div class="user-designation">
                            Admin
                        </div>
                    </div>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="index.html">
                                <i class="icon-box menu-icon"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="collapse" href="{{ path('Moderateur') }}" aria-expanded="false" aria-controls="ui-basic">
                                <i class="icon-disc menu-icon"></i>
                                <span class="menu-title">Sujets</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('Moderateur') }}">
                                <i class="icon-file menu-icon"></i>
                                <span class="menu-title">Signalements</span>
                            </a>
                        </li>
                    </ul>

                </nav>
            </nav>
            {% endblock %}
            <main class="col-md-10 ms-sm-auto col-lg-10 px-md-4" style="padding-top: 60px;">
                {% block body %}
                    <div class="col-sm-12 mb-4 mb-xl-0">
                        <p class="font-weight-normal mb-2 text-muted">  </p>
                        <h4 class="font-weight-bold text-dark">Bienvenue sur l'interface de modération</h4>
                    </div>
                    <div class="col-lg-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Liste des sujets</h4>
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Titre</th>
                                            <th>Contenu</th>
                                            <th>Date de création</th>
                                            <th>Actions</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for sujet in sujets %}
                                            <tr>
                                                <td>{{ sujet.titre }}</td>
                                                <td>{{ sujet.contenu }}</td>
                                                <td>{{ sujet.dateCreation|date('d/m/Y H:i:s') }}</td>
                                                <td>
                                                    <a href="{{ path('app_moderateur_modifier', {'id': sujet.id}) }}" class="btn btn-primary"><span class="fa fa-edit"></span></a>
                                                    <a href="" class="btn btn-danger"><span class="fa fa-trash"></span></a>
                                                    <form action="{{ path('app_moderateur_blocage', {'id': sujet.id}) }}" method="post">
                                                        <button type="submit" class="btn btn-warning">
                                                            <span class="fa fa-warning"></span>
                                                        </button>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endblock %}
            </main>
        </div>
    </div>




    {% block footer %}
    <footer class="footer">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted d-block text-center text-sm-left d-sm-inline-block"></span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a href="https://www.bootstrapdash.com/" target="_blank"></a>Copyright © bootstrapdash.com 2020</span>
        </div>
    </footer>
    {% endblock %}


    </body>
</html>
