{% extends 'base.html.twig' %}

{% block title %}Tournements{% endblock %}

{% block body %}
    <h1>Tournements</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tournement.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ tournement.nom }}</td>
            </tr>
            <tr>
                <th>Jeu</th>
                <td>{{ tournement.jeu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ tournement.date ? tournement.date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ tournement.lieu }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ tournement.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_tournements_index') }}">back to list</a>

    <a href="{{ path('app_tournements_edit', {'id': tournement.id}) }}">edit</a>

    {{ include('tournements/_delete_form.html.twig') }}
{% endblock %}
